body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #111;
}

/* Cabeçalho */

.hero {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 80px 20px;
}

/* Seções centralizadas */

.section {
    padding: 60px 20px;
    max-width: 700px;
    margin: auto;
    background: #fff;
    margin-top: 20px;
    text-align: center;
}

/* Espaçamento elegante no feedback */

#feedback p {
    margin-bottom: 30px;
    line-height: 1.8;
}

#feedback h3 {
    margin-top: 40px;
    margin-bottom: 10px;
}

#feedback ul {
    margin-bottom: 40px;
    list-style-position: inside;
    padding-left: 0;
}

/* Botão */

.botao {
    display: inline-block;
    padding: 14px 28px;
    background: #000;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
}
